<h1>Редагування товару</h1>

<%= render 'form' %>

<nav>
  <ul class="pager">
    <li><%= link_to 'Переглянути', @listing, class: "btn btn-link" %></li>
    <li><%= link_to 'До списку товарів', listings_path, class: "btn btn-link" %></li>
  </ul>
</nav>
