<h1> Доставка </h1>
<p> <h3> Доставка в відділення Нової Пошти по всій Україні </h3>
  За допомогою доставки Новою Поштою, Ви можете отримати товар навіть у найвіддаленіших куточках України
  В середньому, доставка займає 1-3 дні, під час замовлення наші менеджери узгодять з Вами дату доставки перед відправкою товару.
  Вартість доставки товарів Новою поштою до відділення складає 35 грн
  Вартість доставки великогабаритних товарів становить 80 грн </p>
<P> <h3> Доставка на будинок по всій Україні </h3>
  Вартість адресної доставки компанією Міст Експрес становить 35 грн.
  Вартість доставки товару з розділу "Побутова техніка і інтер'єр" по Україні розраховується індивідуально.
  Підйом габаритних вантажів вручну оплачується окремо. Вартість підйому: 20-60 грн / поверх в залежності від розмірів, ваги
  товару та складності підйому </p>
<p> <h3> Адресна доставка по Києву та Київській області </h3>
  Доставка в межах Києва безкоштовна при замовленні на суму від 1500 грн. Вартість доставки замовлень до 1500 грн становить 35 грн.
  По Києву доставка більшості товарів здійснюється з 10:00 до 21:00 в робочі дні, з 10:00 до 19:00 в суботу та з 10:00 до 17:00 Неділя. Доставка товарів з розділу "Побутова техніка і інтер'єр" - з 10:00 до 15:00 і з 15:00 до 21:00, з понеділка по суботу, з 13:00 до 19:00 в неділю.
  Зазвичай, якщо Ви розмістили замовлення до 11:00 - ми доставимо його в той же день. У будь-якому випадку під час замовлення наші менеджери відразу узгодять з Вами час доставки.
  Наші співробітники оперативно доставлять замовлення за вказаною Вами адресою у зручний для Вас час і продемонструють цілісність, комплектність і працездатність товару (для пристроїв, що працюють автономно), а також оформлять всі необхідні документи. З міркувань безпеки перевірка товару та товарно-грошовий обмін виробляються в автомобілі кур'єра.
  Доставка по Київській області проводиться в усі населені пункти області.
  Терміни доставки уточнюйте, будь ласка, у менеджера.
  Вартість доставки по Київській області становить 35 гривень.
  Вартість доставки товарів з розділу «Побутова техніка і інтер'єр» по Київській області розраховується індивідуально.
</p>