<h1>Гарантія</h1>
    <div class="news_box">
      <p class="about_content">
        <h2>На які товари надається гарантія?</h2>
        <p>На товари в нашому магазині надається гарантія, яка підтверджує зобов'язання по відсутності в товарі заводських дефектів. Гарантія надається на термін від 2-х тижнів до 36 місяців в залежності від сервісної політики виробника. Термін гарантії вказаний в описі кожного товару на нашому сайті. Підтвердженням гарантійних зобов'язань служить гарантійний талон виробника, або гарантійний талон.
        Будь ласка, перевірте комплектність і відсутність дефектів у товарі при його отриманні (комплектність визначається описом виробу або посібником з його експлуатації).
        Особливості надання гарантійного обслуговування взуття.
        Куди звертатися за гарантійним обслуговуванням?
        Гарантійним обслуговуванням займаються сервісні центри, авторизовані виробниками.
        Адреси та телефони сервісних центрів ви можете знайти на гарантійному талоні або за адресою - список сервісних центрів
        Право на безкоштовне гарантійне обслуговування дає гарантійний талон, в якому зазначаються:</p>
        <ul>
          <li>Модель</li>
          <li>серійний номер</li>
          <li>гарантійний термін</li>
          <li>дата продажу товару</li>
        </ul>
        <p>Будь ласка, зберігайте його протягом усього терміну експлуатації.
        Термін ремонту визначається авторизованим СЦ, в разі виникнення проблем з сервіс-партнером, ви можете звернутися до точки продажу.
        </p><h2>Я можу обміняти або повернути товар?</h2>
        <p></p>Так, ви можете обміняти або повернути товар протягом 14 днів після покупки. Це право гарантує вам «Закон про захист прав споживача».
        Щоб скористатися цією можливістю, будь ласка переконайтеся що:
        товар, не був у вжитку і не має слідів використання: подряпин, сколів, потертостей, на лічильнику телефону не більше 5 хвилин розмов, програмне забезпечення не піддавалося змінам і т. п.
        товар повністю укомплектований і не порушена цілісність упаковки
        збережені всі ярлики і заводське маркування
        Якщо товар не працює, обмін або повернення товару здійснюється тільки за наявності висновку сервісного центру, авторизованого виробником, про те, що умови експлуатації не порушені.
        Особливості доставки і обміну взуття.
        Згідно з правилами продажів нашої компанії, ми не надаємо послугу примірки при доставці або видачі взуття в пунктах видачі. Ви можете оглянути отриманий товар на предмет відповідності з описом і відсутності зовнішніх пошкоджень, проте робити приміряння допускається тільки після оплати товару.
        У разі невідповідності розміру ви можете зробити повернення товару в 14-денний термін відповідно до порядку відшкодування товарів, придбаних в нашій компанії. Зверніть увагу, що до повернення не приймаються товари, що втратили товарний вигляд або цілісність упаковки, а також з будь-якими слідами використання і експлуатації!
        На жаль, ми змушені відмовити в поверненні або обміні, в наступних випадках:
        Вироби, які були пошкоджені або модифіковані (виключаючи заводський брак)
        Вироби, які мають сліди користування
        Індивідуальні замовлення, зроблені на вимогу замовника
        Вироби після 14 днів з дня продажу, не можуть бути прийняті для повернення або обміну
        Вироби, які змінили свій колір або через перебування в басейні (вплив хімічних речовин), або інших зовнішніх факторів
        Умови повернення чи обміну вироби
        Ми приймаємо на повернення / обмін вироби в новому і невикористаний стані в оригінальній упаковці і при наявності товарного чека
        Після отримання вироби на обмін / повернення, наші ювеліри перевірять стан вироби для контролю якості протягом 2-5 робочих днів
        Після перевірки ювеліром стану вироби, ми зробимо повернення грошей або обмін на інший виріб
        При поверненні грошей за товар ми не компенсуємо витрати за доставку, яка була в оригінальному замовленні</p>
        <h2>Де і як можна зробити обмін або повернення?</h2>
        Обміняти або повернути товар можна в нашому сервісному відділі за адресою:
        c понеділка по п'ятницю з 10-00 до 19-00, в суботу - з 10-00 до 17-00.
        При поверненні товару потрібно мати при собі паспорт. Ми повернемо гроші в день повернення товару або, в разі відсутності грошей у касі, не пізніше, ніж через 7 днів.
        Якщо ви живете не в Києві, можете відправити товар назад за допомогою служби доставки. Якщо у товару збережений товарний вид і упаковка, ми обміняємо його вам або повернемо гроші.
        Обмін і повернення товарів належної якості здійснюється за рахунок покупця протягом 14 днів з дня продажу за умови збереження товарного вигляду купленого устаткування, упаковки, і наявності документів, що підтверджують факт покупки.
        Сервісний центр не може відремонтувати мій товар в гарантійний період
        Якщо в гарантійний період товар, який ви у нас купили, вийшов з ладу з вини виробника і не може бути відремонтовано в авторизованому сервісному центрі, ми обміняємо товар на аналогічний або повернемо гроші.
        Для цього, будь ласка, надайте нам:
        1 товар з повною комплектацією
        2 гарантійний талон
        3 документ підтверджує оплату
        4 висновок сервісного центру з відміткою про те, що товар має «істотний недолік»
        У яких випадках гарантія не надається?
        Сервісний центр може відмовити в гарантійному ремонті якщо:
        порушена збереження гарантійних пломб
        є механічні або інші пошкодження, які виникли внаслідок умисних або необережних дій покупця або третіх осіб
        порушені правила використання, викладені в експлуатаційних документах
        було вироблено несанкціоноване розкриття, ремонт або змінені внутрішні комунікації і компоненти товару, змінена конструкція або схеми товару
        неправильно заповнений гарантійний талон
        серійний або IMEI номер, що знаходиться в пам'яті виробу, змінений, стертий або не може бути встановлений
        Гарантійні зобов'язання не поширюються на наступні несправності:
        природний знос або вичерпання ресурсу
        випадкові пошкодження, завдані клієнтом або пошкодження, що виникли внаслідок недбалого ставлення або використання (вплив рідини, запиленості, потрапляння всередину корпусу сторонніх предметів і т. п.)
        ушкодження в результаті стихійних лих (природних явищ)
        ушкодження, викликані аварійним підвищенням або пониженням напруги в електромережі або неправильним підключенням до електромережі
        ушкодження, викликані дефектами системи, в якій використовувався даний товар, або виниклі в результаті з'єднання і підключення товару до інших виробів
        ушкодження, викликані використанням товару не за призначенням або з порушенням правил експлуатації
        програмне забезпечення, яке не входить в комплект виробу
        збереження інформації на жорсткому диску
      </p>
    </div>
