<h2>Ваш кошик</h2>
<table class="table">
  <tr>
    <td><b>Кількість</b></td>
    <td><b>Назва товару</b></td>
    <td><b>Ціна</b></td>
  </tr>
  <%= render(cart.line_items) %>
  <tr>
    <td><b>Всього</b></td>
      <td><%= cart.total_price %> грн</td>
  </tr>
</table>
<nav>
  <ul class="pager">
    <li><%= link_to 'Замовити', new_order_path, method: :get, class: "btn btn-success" %></li>
    <li><%= link_to 'Звільнити кошик', cart, class: "btn btn-danger", method: :delete, data: { confirm: 'Ви впевнені що хочете видалити всі товари з кошику?' } %></li>
  </ul>
</nav>