<p id="notice"><%= notice %></p>

<h1>Кошики користувачів</h1>

<table class="table">
  <thead>
    <tr>
      <th>Номер</th>
      <th>Переглянути</th>
      <th>Видалити</th>
    </tr>
  </thead>

  <tbody>
    <% @carts.each do |cart| %>
      <tr>
        <td><%= cart.id %></td>
        <td><%= link_to '' , cart, class:"glyphicon glyphicon-search" %></td>
        <td><%= link_to '', cart, method: :delete, class:"glyphicon glyphicon-remove-circle", data: { confirm: 'Ви впевнені що хочете видалити кошик?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
