<h1>Редагування виробника</h1>

<%= render 'form' %>

<nav>
  <ul class="pager">
    <li><%= link_to 'Переглянути', @producer, class: "btn btn-link" %></li>
    <li><%= link_to 'До списку виробників', producers_path, class: "btn btn-link" %></li>
  </ul>
</nav>
