<h1>Новий виробинк</h1>

<%= render 'form' %>

<%= link_to 'Back', producers_path %>

<nav>
  <ul class="pager">
    <li><%= link_to 'До списку виробників', producers_path, class: "previous"%></li>
  </ul>
</nav>
