@import "bootstrap-sprockets";
@import "bootstrap";
@import "normalize";

body {
  background-color: #F5F5F1;
  color: #333333;
  font-family: Arial, Helvetica, sans-serif;
  padding-top: 70px;
}

.center {
  text-align: center;
}

.thumbnail img {
  width: 100%;
  height: 200px;
}

.thumbnail_1 img {
  width: 100%;
  height: 50%;
}

.thumbnail a > img {
  width: 100%;
  height: 200px;
}

.ratings a{
  float: left;
}

.thumbnail {
  padding: 0;
}

.thumbnail .caption-full {
  padding: 9px;
  color: #333;
}

.info-buttons > a,
.pull-right > a {
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  font-weight: bold;
  color: white;
}

footer {
  margin: 50px 0;
}

.tab-pane {
  margin-top: 1em;
  margin-left: .5em;
  font-size: 16px;
  font-weight: normal;
}

.found-title{
  margin-left: 1em;
}

a {
  text-decoration: none;
}

.row_1 {
  margin-left: 2em;
}

.about_content {
  font-size: 16px;
}

.size {
  width: 180px;
  height: 180px;
  margin-left: 2.5em;
}

.list-group.panel > .list-group-item {
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px
}

.list-group-submenu {
  margin-left:20px;
}

.navbar-default {
  background-color: #EFEFEB;
}

.navbar-default .navbar-brand {
  font-family: guardian-egyptt, georgia, serif;
  font-weight: 400;
  color: #d5641c;
  font-size: 30px;
}

.navbar-default .navbar-nav > li > a {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  font-weight: bold;
  color: #0192B5;
}

.prod_title_list{
  padding-left: 10px;
}

.price{
  color: #0080a1;
}

h1{
  font-weight: bold;
  color: #0192B5;
}

h2{
  font-weight: bold;
  color: #0192B5;
}

h3 {
  font-weight: bold;
  color: #0192B5;
}

h4 {
  font-weight: bold;
  color: #0192B5;
}

.hidden { display: none; }

.alert-error {
  background-color: #f2dede;
  border-color: #eed3d7;
  color: #b94a48;
  text-align: left;
}

.alert-alert {
  background-color: #f2dede;
  border-color: #eed3d7;
  color: #b94a48;
  text-align: left;
}

.alert-success {
  background-color: #dff0d8;
  border-color: #d6e9c6;
  color: #468847;
  text-align: left;
}

.alert-notice {
  background-color: #dff0d8;
  border-color: #d6e9c6;
  color: #468847;
  text-align: left;
}