<h1>Редагування категорії</h1>

<%= render 'form' %>

<nav>
  <ul class="pager">
    <li><%= link_to 'Переглянути', @category, class: "btn btn-link" %></li>
    <li><%= link_to 'До списку категорій', categories_path, class: "btn btn-link" %></li>
  </ul>
</nav>
