<p id="notice"><%= notice %></p>

<p>
  <strong>Назва:</strong>
  <%= @category.name %>
</p>

<nav>
  <ul class="pager">
    <li><%= link_to 'Редагувати', edit_category_path(@category), class: "btn btn-link" %></li>
    <li><%= link_to 'До списку категорій', categories_path, class: "btn btn-link" %></li>
  </ul>
</nav>
