<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="col-md-3">
        </br>
        © Интернет-магазин «DigitalShop» 2016</br>
        График работы Call-центра</br>
        В будние дни с 8 до 21</br>
        Суббота с 9 до 20</br>
        Воскресенье с 10 до 19</br>
        </br>
      </div>
      <div class="col-md-3">

      </div>
      <div class="col-md-3">.col-md-4</div>
      <div class="col-md-3">.col-md-4</div>
    </div>
  </div>
</footer>